<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Create New Subscription</h2>
        <form class="subscription">
          <div class="form-group">
            <label for="subscription-name-input">Subscription Name</label>
            <input type="text" class="form-control" id="subscription-name-input" placeholder="Subscription Name">
          </div>
          <div class="form-group">
            <label for="subscription-price-input">Price</label>
            <input type="number" step="0.01" class="form-control" id="subscription-price-input" placeholder="Price">
          </div>
          <div class="form-group">
            <label for="subscription-frequency-input">Frequency</label>
            <input type="text" class="form-control" id="subscription-frequency-input" placeholder="Frequency">
          </div>
          <div class="form-group">
            <label for="subscription-category-input">Category</label>
            <input type="text" class="form-control" id="subscription-category-input" placeholder="Category">
          </div>
          <div class="form-group">
            <label for="subscription-date-input">Withdrawal Date</label>
            <input type="number" min="1" max="31" class="form-control" id="subscription-date-input" placeholder="Withdrawal Date">
          </div>
          <div style="display: none" id="alert" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> <span class="msg"></span>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <br />
      </div>
    </div>
  </div>

{{#each subscriptions }}
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">{{dataValues.name}}</h2>
            <p class="card-text">{{dataValues.name}}</p>
            <button class="btn btn-primary">TEST</button>
        </div>
    </div>
{{/each}}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/subscription.js"></script>