body {
  font-family: 'Work Sans', sans-serif;
}

form.signup,
form.login {
  margin-top: 50px;
}

.login {
  max-width: 500px;
}
/* nav bar */
.navbar-brand {
  font-size: 2.5rem;
}
.bg-primary {
  background-color: #0A3D62 !important;
}
.nav-link {
  margin-right: 50px;
}
/* sign up form container */

#homepage-description {
  background-color: rgba(10,61,98,0.04);
}

.header {
  color: #09174d;
  padding-top: 20px;
}

/*cards*/
.card {
  max-width: 300px;
}

.card-header {
  background-color: rgba(10,61,98,0.2);
}

/*Balance Output*/

#balanceDiv, #totalExpenseDiv {
  font-size: 1.25rem;
}

/*Buttons*/

.btn-dark {
  background-color: rgba(10,61,98,0.9);
}

/*Forms*/

.form-group {
  letter-spacing: 1.5px;
}

/*Font Weights*/

.heavier {
  font-weight: 500;
}

.lighter {
  font-weight: 200;
}

@media screen and (max-width: 767px) {
  #sign-up-form {
    margin-top: -55px;
  }
}